body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.cell-header {
  padding: 0px;
  border-style: solid;
  border-color: rgb(249, 249, 249);
  border-width: 1px;
  color: rgb(84, 84, 84);
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.cell-input {
  min-width: 72px;
  border-style: none;
  border-radius: 0px;
  color: rgb(65, 65, 65);
}

.cell {
  padding: 0px;
  width: 100%;
  border: 1px solid white;
  box-shadow: 0 0 1px black;
}

.online-status {
  padding: 6px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
  align-self: center;
}

.online {
  background-color: rgb(115, 177, 22);
}

.offline {
  background-color: rgb(206, 12, 12);
}

.participant-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.participant-tag {
  font-size: 14px;
  padding: 8px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: rgb(230, 230, 230);
  border-radius: 16px;
  flex: none;
}
